name: Deploy to Dokploy

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: [self-hosted, dokploy]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Dokploy Deployment
        run: |
          curl -X POST \
          '${{ secrets.DOKPLOY_URL }}/api/trpc/application.deploy' \
          -H 'accept: application/json' \
          -H 'x-api-key: ${{ secrets.DOKPLOY_AUTH_TOKEN }}' \
          -H 'content-type: application/json' \
          -d '{
            "json": {
              "applicationId": "${{ secrets.DOKPLOY_APPLICATION_ID }}"
            }
          }'
