name: Deploy to Dokploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: [self-hosted, dokploy]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Dokploy Deployment
        env:
          PROJECT_ID: musicCopier
          APP_ID: musiccopier-server-wphcto
        uses: benbristow/dokploy-deploy-action@0.0.1
        with:
          auth_token: ${{ secrets.DOKPLOY_AUTH_TOKEN }}
          application_id: ${{ secrets.DOKPLOY_APPLICATION_ID }}
          dokploy_url: ${{ secrets.DOKPLOY_URL }}